.black-bg {
  background-color: var(--black);
  position: relative;
}
.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}

@media screen and (max-width: 850px) {
  .white-gradient {
    width: 13rem;
    height: 13rem;
  }
}
@media screen and (max-width: 550px) {
  .white-gradient {
    width: 8rem;
    height: 8rem;
  }
}
